@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.welcome-super {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.welcome-inner {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.17);
}


.welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text img {
    width: 100px;
    height: 100px;
}

.welcome-text h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 4rem;
    text-align: center;
}

.animated-typing {
    display: flex;
    justify-content: center;
}

.animated-typing span {
    color: rgb(252, 32, 32);
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Space Mono', monospace;
    text-align: center;
}

@media (max-width:760px) {

    .welcome-super {
        padding-right: 0;
    }

    .welcome-inner {
        width: 100%;
    }

    .animated-typing span {
        font-size: 1.5rem;
    }
}

@media (max-width:1160px) {

    .animated-typing span {
        font-size: 2rem;
    }
}

.btn-container {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 3px solid rgba(255, 255, 255, 0.432);
    border-bottom: 3px solid rgba(255, 255, 255, 0.432);
}

/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

/* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgb(210, 102, 179);
    --animation-color: rgb(252, 32, 32);
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.actual-text {
    color: transparent !important;

}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}