@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.welcome-super {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.welcome-inner {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.17);
}


.welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text img {
    width: 100px;
    height: 100px;
}

.welcome-text h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 4rem;
    text-align: center;
}

.animated-typing {
    display: flex;
    justify-content: center;
}

.animated-typing span {
    color: rgb(252, 32, 32);
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Space Mono', monospace;
    text-align: center;
}

@media (max-width:760px) {

    .welcome-super {
        padding-right: 0;
    }

    .welcome-inner {
        width: 100%;
    }

    .animated-typing span {
        font-size: 1.5rem;
    }
}

@media (max-width:1160px) {

    .animated-typing span {
        font-size: 2rem;
    }
}