* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: white;
}


html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  --gradient-top: rgb(0, 30, 55) 50%;
  --gradient-bottom: rgb(3, 54, 86) 50%;

}

@media (max-width: 950px) {
  #root {
    --gradient-top: rgb(0, 30, 55) 70%;
    --gradient-bottom: rgb(3, 54, 86) 30%;

  }

}


#root::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  background-image: radial-gradient(circle at left, rgb(0, 25, 46), rgb(0, 54, 90));
  transition: background-image 0.3s ease;
}